source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/g-nogueira/index.json

nuget FSharpPlus
nuget FsToolkit.ErrorHandling

group GNogueira.SupermarketScrapeTool.API
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget Chiron
    nuget Giraffe
    nuget GNogueira.SupermarketScrapeTool.Models == 2.0.0-beta6
    nuget GNogueira.SupermarketScrapeTool.Clients == 2.0.0-beta8

group GNogueira.SupermarketScrapeTool.Clients
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget GNogueira.SupermarketScrapeTool.Common == 2.0.0-beta5
    nuget GNogueira.SupermarketScrapeTool.Models == 2.0.0-beta12

group GNogueira.SupermarketScrapeTool.Models
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget GNogueira.SupermarketScrapeTool.Common == 2.0.0-beta5

group GNogueira.SupermarketScrapeTool.Scrapper
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget Microsoft.Azure.WebJobs.Extensions.CosmosDB
    nuget Fizzler.Systems.HtmlAgilityPack
    nuget GNogueira.SupermarketScrapeTool.Models == 2.0.0-beta12
    nuget GNogueira.SupermarketScrapeTool.Clients == 2.0.0-beta14
    nuget GNogueira.SupermarketScrapeTool.Common == 2.0.0-beta9
    
group GNogueira.SupermarketScrapeTool.Common
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget Azure.Identity
    nuget Azure.Security.KeyVault.Secrets
    nuget Microsoft.Azure.Cosmos ~>  3.38.0
    nuget Microsoft.Extensions.Logging
    
group GNogueira.SupermarketScrapeTool.Functions.ProductPopulator
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget Microsoft.Azure.WebJobs
    nuget GNogueira.SupermarketScrapeTool.Models == 2.0.0-beta6
    nuget GNogueira.SupermarketScrapeTool.Clients == 2.0.0-beta8

group GNogueira.SupermarketScrapeTool.Service
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget Fizzler.Systems.HtmlAgilityPack
    nuget Microsoft.Azure.WebJobs
    nuget GNogueira.SupermarketScrapeTool.Models == 2.0.0-beta6
    nuget GNogueira.SupermarketScrapeTool.Clients == 2.0.0-beta8
    
group GNogueira.SupermarketScrapeTool.Test
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/g-nogueira/index.json

    nuget NUnit